{% assign currenProduct = product %}
{% assign check_upsell = false %}
{% assign check_cross = false %}

<!-- CHECK DISCOUNT AVAIABLE -->
{% for block in section.blocks %}{% assign productX = all_products[block.settings.productX] %}{% if currenProduct.id == productX.id %}{% case block.type %}{% when 'upsell' %}{% assign check_upsell = true %}{% when 'cross' %}{% assign check_cross = true %}{% endcase %}{% endif %}{% endfor %}


<div id="sdiscount__wrap--{{section.id}}" class="sdiscount__wrap">
  <div id="sdiscount__content--{{section.id}}" class="sdiscount__content">
    
    <!-- BUYXGETY -->
    {% for block in section.blocks %}
    {% if block.type == 'buyxgety' %}
    {% assign productX = all_products[block.settings.productX] %}
    {% assign productY = all_products[block.settings.productY] %}
    {% assign quantityX = block.settings.number_X %}
    {% assign quantityY = block.settings.number_Y %}
    {% if currenProduct.id == productX.id %}
    <div class="sbogo">
      <a target="_blank" href="/cart/{{productX.selected_or_first_available_variant.id}}:{{quantityX}},{{productY.selected_or_first_available_variant.id}}:{{quantityY}}">
        🔥 Click here to buy {{quantityX}} <img src="{{productX.featured_image | img_url:'30x'}}" alt="{{productX.title}}"/> {{productX.title}} 
        and get {{quantityY}} <img src="{{productY.featured_image | img_url:'30x'}}" alt="{{productY.title}}"/> {{productY.title}}
      </a>
      <span>{% if block.settings.discount__note != blank %}({{block.settings.discount__note}}){% endif %}</span>
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}
    
    <!-- UPSELL -->
    {% if check_upsell and section.settings.upsell_title != blank %}
    <h4 class="supsell__title">{{section.settings.upsell_title}}</h4>
    {% endif %}
    {% for block in section.blocks %}
    {% if block.type == 'upsell' %}
      {% assign productX = all_products[block.settings.productX] %}
      {% if currenProduct.id == productX.id %}
        <div class="supsell__wrap">
          <div class="supsell__content">
            {% for i in (1..4) %}
              {% assign prd = 'productY' | append:i  %}
              {% assign bg = 'bg_Y' | append:i  %}
              {% if block.settings[prd] != blank %}
                {% assign product = all_products[block.settings[prd]] %}
                {% assign background = block.settings[bg] %}
                <div class="supsellitem" {% if background != blank %}style="background:url({{background | img_url:'500x'}})"{% endif %}>
                  <a target="_blank" href="{{product.url}}" title="{{product.title}}">
                    <img class="supsellitem__image" src="{{product.featured_image | img_url:'300x'}}" alt="{{product.title}}"/>
                    <div class="supsellitem__title">{{product.title}}</div>
                    <div class="supsellitem__price">{{product.price | money}}</div>
                  </a>
                  {% form 'product', product %}
                  <select name="id" style="display:none;">
                    {% for variant in product.variants %}
                    <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}  value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
                    {% endfor %}
                  </select>
                  <button class="btn supsellitem__addcart" type="submit" name="add" >Add to cart</button>
                  {% endform %}
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endif %}
    {% endfor %}
    
    <!-- CROSS-SELL -->
    {% if check_cross and section.settings.cross_title != blank %}
    <h4 class="scross__title">{{section.settings.cross_title}}</h4>
    {% endif %}
    {% for block in section.blocks %}
    {% if block.type == 'cross' %}
      {% assign productX = all_products[block.settings.productX] %}
      {% if currenProduct.id == productX.id %}
        <div class="scross__wrap">
          <div class="scross__content">
            {% for i in (1..6) %}
              {% assign prd = 'productY' | append:i  %}
              {% if block.settings[prd] != blank %}
                {% assign product = all_products[block.settings[prd]] %}
                <div class="scrossitem">
                  <a target="_blank" href="{{product.url}}" title="{{product.title}}">
                    <img class="scrossitem__image" src="{{product.featured_image | img_url:'200x'}}" alt="{{product.title}}"/>
                    <div class="scrossitem__title">{{product.title}}</div>
                    <div class="scrossitem__price">{{product.price | money}}</div>
                  </a>
                </div>
                <svg class="scrossitem__plus" aria-hidden="true" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z" class=""></path></svg>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endif %}
    {% endfor %}
    
    <!-- OTHER-CAMPAIGN -->
    {% for block in section.blocks %}
      {% if block.type == 'other' %}
        {% assign productX = all_products[block.settings.productX] %}
        {% if currenProduct.id == productX.id %}
          <div class="sother">
            {{block.settings.des}}
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
    
  </div>
</div>

{% style %}
  {% comment %}========================   CSS Liquid ========================{% endcomment %}

  #sdiscount__wrap--{{section.id}}{
    margin-top:{{section.settings.margin_top}}px;
    margin-bottom:{{section.settings.margin_bottom}}px;
    padding-top:{{section.settings.padding_top}}px;
    padding-bottom:{{section.settings.padding_bottom}}px;
    background-color:{{section.settings.bg_color}};
    {% if section.settings.bg_image %}
    background-image:url({{section.settings.bg_image | img_url:'master'}});
    {% if section.settings.bg_attachment %}background-attachment:fixed;{% endif %}
    background-repeat:no-repeat;
    background-position:center;
    {% endif %}
  }
  #sdiscount__content--{{section.id}}{
    max-width:{{section.settings.max_width}}px;
    margin:0 auto;
  }
  @media (max-width:{{section.settings.max_width | minus:1}}px){
    #sdiscount__wrap--{{section.id}}{
      margin:0 15px;
    }
  }
  .supsell__content{
    border-left: 1px solid {{section.settings.upsell_border}};
  }
  .supsellitem{
    border-color:{{section.settings.upsell_border}};
  }
  .supsell__title{
  	{{section.settings.upsell_titlecss}};
  }
  .scross__title{
  	{{section.settings.cross_titlecss}};
  }
  
  {% comment %}========================   Pure CSS   ========================{% endcomment %}
  .sbogo{font-weight:bold;}.sbogo span{font-weight:lighter;}.scross__content,.supsell__content{display:-webkit-box;display:-ms-flexbox;display:flex;text-align:center}.supsellitem__addcart{margin-top:10px}.supsellitem{-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;border-width:1px 1px 1px 0;border-style:solid;padding:20px 0}.supsellitem__image{display:block;max-width:100%;height:auto;margin:0 auto}.scrossitem__title,.supsellitem__title{margin:10px 10px 0;font-weight:700;font-size:15px}.scrossitem{-webkit-box-flex:0;-ms-flex:0 0 200px;flex:0 0 200px}.scrossitem__plus{width:15px;margin:0 10px}.scross__content .scrossitem__plus:last-child{display:none}

{% endstyle %}

{% schema %}
{"name":"Discount Campaign","max_blocks":1000,"settings":[{"type":"header","content":"Background"},{"type":"image_picker","id":"bg_image","label":"Background image"},{"type":"color","id":"bg_color","label":"Background color"},{"type":"checkbox","id":"bg_attachment","label":"Parallax"},{"type":"header","content":"Distance"},{"type":"range","id":"max_width","label":"Section width","min":1200,"max":1920,"step":10,"unit":"px","default":1390},{"type":"range","id":"margin_top","label":"Margin Top","min":0,"max":100,"step":1,"unit":"px","default":0},{"type":"range","id":"margin_bottom","label":"Margin Bottom","min":0,"max":100,"step":1,"unit":"px","default":0},{"type":"range","id":"padding_top","label":"Padding Top","min":0,"max":100,"step":1,"unit":"px","default":10},{"type":"range","id":"padding_bottom","label":"Padding Bottom","min":0,"max":100,"step":1,"unit":"px","default":10},{"type":"header","content":"Upsell"},{"type":"text","id":"upsell_title","label":"Heading","default":"Other choices:"},{"type":"textarea","id":"upsell_titlecss","label":"Heading style","default":"font-weight:bold;margin:20px 0 10px;","info":"[How to CSS text?](https:\/\/www.w3schools.com\/css\/css_text.asp)"},{"type":"color","id":"upsell_border","label":"Border item","default":"#cfcfcf"},{"type":"header","content":"Cross-selling"},{"type":"text","id":"cross_title","label":"Heading","default":"Frequently bought togetther:"},{"type":"textarea","id":"cross_titlecss","label":"Heading style","default":"font-weight:bold;margin:20px 0 10px;","info":"[How to CSS text?](https:\/\/www.w3schools.com\/css\/css_text.asp)"}],"blocks":[{"type":"buyxgety","name":"Buy X get Y","settings":[{"type":"paragraph","content":"{Buy X get Y} - Firstly, you neeed create [automatic discount](\/admin\/discounts\/automatic). Then configure here to display discount notification when customers view X products"},{"type":"header","content":"Buy X"},{"type":"product","id":"productX","label":"Product X"},{"type":"range","id":"number_X","min":1,"max":100,"step":1,"label":"Quantity","default":1},{"type":"header","content":"Get Y"},{"type":"product","id":"productY","label":"Product Y"},{"type":"range","id":"number_Y","min":1,"max":100,"step":1,"label":"Quantity","default":1},{"type":"text","id":"discount__note","label":"Informations"}]},{"type":"upsell","name":"Upsell","settings":[{"type":"paragraph","content":"{Upsell} - suggest product Y when customers view product X"},{"type":"header","content":"View X"},{"type":"product","id":"productX","label":"Product X"},{"type":"header","content":"Suggestion Y1"},{"type":"product","id":"productY1","label":"Product"},{"type":"image_picker","id":"bg_Y1","label":"Background"},{"type":"header","content":"Suggestion Y2"},{"type":"product","id":"productY2","label":"Product"},{"type":"image_picker","id":"bg_Y2","label":"Background"},{"type":"header","content":"Suggestion Y3"},{"type":"product","id":"productY3","label":"Product"},{"type":"image_picker","id":"bg_Y3","label":"Background"},{"type":"header","content":"Suggestion Y4"},{"type":"product","id":"productY4","label":"Product"},{"type":"image_picker","id":"bg_Y4","label":"Background"}]},{"type":"cross","name":"Cross-selling","settings":[{"type":"paragraph","content":"{Cross-selling} - suggest product Y when customers view product X"},{"type":"header","content":"View X"},{"type":"product","id":"productX","label":"Product X"},{"type":"header","content":"Suggestion Y"},{"type":"product","id":"productY1","label":"Product Y1"},{"type":"product","id":"productY2","label":"Product Y2"},{"type":"product","id":"productY3","label":"Product Y3"},{"type":"product","id":"productY4","label":"Product Y4"},{"type":"product","id":"productY5","label":"Product Y5"},{"type":"product","id":"productY6","label":"Product Y6"}]},{"type":"other","name":"Other campaigns","settings":[{"type":"paragraph","content":"{Other campaigns} - Show message when customers view product X"},{"type":"header","content":"View X"},{"type":"product","id":"productX","label":"Product X"},{"type":"textarea","id":"des","label":"Description","default":"🚒 Free shipping in USA","info":"🚒,🔥,🏴,👉 [Find more emoji here](https:\/\/getemoji.com)"}]}]}
{% endschema %}